DATABASE_URL=postgresql://my_closet_db_user:1uAXVTKSaLs4Bb6mHWlo8ZRC52YibJCb@dpg-d7bl6gc50q8c73fbak40-a.oregon-postgres.render.com/my_closet_db
JWT_SECRET_KEY=7c7e8449f6706cb0e24efa7b6c9fdf757a969a9c66673e84a50a3a166fe1cbe6
CLOUDINARY_CLOUD_NAME=클라우드이너리이름
CLOUDINARY_API_KEY=f2b6e2ca17037bd8b11a5ce7fff33685
CLOUDINARY_API_SECRET=시크릿
OPENWEATHER_API_KEY=날씨API키
